<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="Artifactory" value="https://globomantics.jfrog.io/artifactory/api/nuget/v3/nuget/index.json" />
  </packageSources>
</configuration>
